@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@100;200;300;400;600;700&display=swap');

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;

}

.App button{
  background-color: black;
  width: 150px;
  height: 40px;
  border-radius: 30px;
  border-style: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-top: 40px;
  margin-bottom: 40px;
}

.App img{
  height: 300px;
  width: 400px;
  border-radius: 30px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

